*{
background-color:skyblue;    
}
:root {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 5vw;
}

.banner .card {
    background: blue;
    border: 1px solid blue;
    border-radius: 10px;
    box-shadow: 0px 3px 20px 2px #35eea4;
    display: flex;
    flex-direction: column;
}

.banner .card .heading {
    color: #black;
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1vh;
    padding: 5vw;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5vh;
}

.row .my-image {
    border: 1px solid #35eea4;
    border-radius: 5px;
    box-shadow: 0px 3px 20px 2px #2c2c2c;
    width: 20vw;
}

@media only screen and (max-width: 725px) {
    .row {
        flex-direction: column;
    }
    .row .image {
        order: -1;
    }
    .row .my-image {
        width: 60vw;
    }
}

.paragraph {
    color: #2c2c2c;
    font-family: "Istok Web", sans-serif;
    padding: 5vw 5vw 5vw 0;
}

.icon-group {
    margin-top: 2vh;
}

.icon-group .icon {
    margin-right: 10px;
    width: 25px;
}